<html>


	<head>



  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Dashboard</title>

  <!-- Custom fonts for this template-->
  <link href="static/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="static/assets/css/sb-admin-2.min.css" rel="stylesheet">



	</head>

	<body>


    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="index.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Interface
      </div>


    <!-- Nav Item - Utilities Collapse Menu -->
      {% if user.admin %}      
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities1" aria-expanded="true" aria-controls="collapseUtilities1">
          <i class="fas fa-fw fa-wrench"></i>
          <span>الادمن</span>
        </a>
        <div id="collapseUtilities1" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Admin Components:</h6>
            <a class="collapse-item" href="/add-products">اضافة اصناف</a>
            <a class="collapse-item" href="amend-products.html">تعديل الاصناف</a>
            <a class="collapse-item" href="tables.html">معاينة الاصناف</a>
            <a class="collapse-item" href="/edit-vat">تغيير النسبة الضريبية</a>
            <a class="collapse-item" href="/spendings">المصاريف</a>
            <a class="collapse-item" href="/statement">كشف الحساب</a>
            <a class="collapse-item" href="/add-customers">اضافة العملاء</a>
            <a class="collapse-item" href="/view-customers">معاينة العمبلاء</a>
            <a class="collapse-item" href="/view-loans.html">معاينة و تسديد الذمم</a>
            <a class="collapse-item" href="/history_log">مشتريات العملاء</a>
            <a class="collapse-item" href="/users">المستخدمين</a>
            <a class="collapse-item" href="/current-balance">الرصيد الحالي</a>
            <a class="collapse-item" href="/vat-balance">الرصيد الضريبي الحالي</a>
            <a class="collapse-item" href="/current-revenue">الربح الحالي</a>
            <a class="collapse-item" href="/view-invoices-admin">عرض الفواتير</a>
            <a class="collapse-item" href="/procurement">شراء من عملائنا</a>
            <a class="collapse-item" href="/customer-statement">كشف حساب العملاْ|</a>
            <a class="collapse-item" href="/admin-product-movement">تعيين كميات الاصناف</a>
            <a class="collapse-item" href="/admin-product-movement-shelf">تعيين الاصناف بارقام الادراج</a>





            

          </div>
        </div>
      </li>

      {% endif %}
      <!-- Nav Item - Pages Collapse Menu -->
      {% if user.admin or user.warehouse %}   
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-cog"></i>
          <span>المستودع</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Warehouse Components:</h6>
            <a class="collapse-item" href="/move-stock.html">نقل الكميات للفروع</a>
            <a class="collapse-item" href="/search">المصاريف</a>
            <a class="collapse-item" href="tables.html">مخزون الاصناف</a>
            <a class="collapse-item" href="/spendings">المصاريف</a>
            <a class="collapse-item" href="/add-customers">اضافة العملاء</a>


          </div>
        </div>
      </li>
{% endif %}
            <!-- Nav Item - Pages Collapse Menu -->

      {% if user.admin or user.branch1 %}       
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
          <i class="fas fa-fw fa-cog"></i>
          <span>فرع كيلو 8</span>
        </a>
        <div id="collapseThree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Branch1 Components:</h6>
            <a class="collapse-item" href="/sell-branch-1.html">بيع</a>
            <a class="collapse-item" href="/search">المصاريف</a>
            <a class="collapse-item" href="/view-invoices">معاينة الفواتير</a>
            <a class="collapse-item" href="branch1products.html">مخزون الاصناف</a>
            <a class="collapse-item" href="/spendings">المصاريف</a>
            <a class="collapse-item" href="/add-customers">اضافة العملاء</a>


          </div>
        </div>
      </li>
      {% endif %}
            <!-- Nav Item - Pages Collapse Menu -->
     {% if user.admin or user.branch2 %}        
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
          <i class="fas fa-fw fa-cog"></i>
          <span>فرع الجوهرة</span>
        </a>
        <div id="collapseFour" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Branch 2 Components:</h6>
            <a class="collapse-item" href="/sell-branch-2.html">بيع</a>
            <a class="collapse-item" href="/spendings">المصاريف</a>
            <a class="collapse-item" href="/view-invoices">معاينة الفواتير</a>
            <a class="collapse-item" href="branch2products.html">مخزون الاصناف</a>
            <a class="collapse-item" href="/spendings">المصاريف</a>
            <a class="collapse-item" href="/add-customers">اضافة العملاء</a>


          </div>
        </div>
      </li>
{% endif %}


      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->












	</body>






















</html>