<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Blank</title>

  <!-- Custom fonts for this template-->
  <link href="{{ url_for('static', filename='assets/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">

  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{{ url_for('static', filename='assets/css/sb-admin-2.min.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-latest.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>

    <link href="{{ url_for('static', filename='assets/vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">


<style>
  
  .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}



@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}
</style>
</head>
         

<body>


          <div class="card shadow mb-4">
            <div class="card-header py-3">
                <img  src=" {{ url_for('static', filename='/assets/nono4.jpeg') }}" alt="" class="center">

              <h6 class="m-0 font-weight-bold text-primary">الفاتورة</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    {% if customer != None %}
                        <h1>اسم العميل : {{customer}}</h1>
                    {% endif %}
                    {% if category == "Cash" %}
                      <h2>نوع الفاتورة : كاش</h2>
                    {% endif %}
                    {% if category == "Loan" %}
                      <h2>نوع الفاتورة : ذمم</h2>
                    {% endif %}
                    <tr>


                      <th>الصنف</th>
                      <th>السعر</th>
                      <th>الكمية</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th><u>المجموع</u></th>
                      <th><u>{{total}}</u></th>
                    </tr>
                    {% if remaining_balance != None %}
                    <tr>
                      <th><u>الدين المتبقي</u></th>
                      <th><u>{{remaining_balance}}</u></th>
                    </tr>
                    {% endif %}
                  </tfoot>
                  <tbody>
                    {%for i in range(0, length)%} 
                    <tr>
                      <td>{{products[i][0]}}</td>
                      <td>{{products[i][1][0]}}</td>
                      <td>{{products[i][1][1]}}</td>
                    </tr>
                    {%endfor%}
                    

                    <tr>
                        <th><u>الضريبة {{vat_percentage}}%</u></th>
                        <td>
                            <strong>
                                <u>
                                    {{vat}}
                                </u>
                            </strong>   
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
              <!--img  src=" {{ url_for('static', filename='/assets/nono2.png') }}" alt="" class="center"-->
                      <img  src=" {{ url_for('static', filename='/assets/nono3.jpeg') }}" alt="" class="center">

          </div>

        </div>

<p>


</p>

<div id="no-print">
   
         <center>
             <button class="btn btn-primary hidden-print" onclick="myFunction()"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> طباعة</button>
      </center>

<p>



</p>




      <center>
<a href="/dash" class="btn btn-info" role="button">الصفحة الرئيسية</a>
      </center>

</div>

        <!-- /.conta

  <!-- Bootstrap core JavaScript-->
  <script src="{{ url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{{ url_for('static', filename='assets/vendor/jquery-easing/jquery.easing.min.js') }}"></script>
  <!-- Custom scripts for all pages-->
  <script src="{{ url_for('static', filename='assets/js/sb-admin-2.min.js') }}"></script>
  <script type="text/javascript">
      function myFunction() {
    window.print();
}



  </script>

</body>


</html>
